<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="TRURL_SYSTEMS" value="testing" />

        <add key="SLACK_TEAM" value="" />
        <add key="SLACK_CHANNEL" value="build-deploy-swat" />
        <add key="SLACK_USER" value="trurl" />
        <add key="SLACK_TOKEN" value="__REQUIRED__" />

        <add key="OCTOPUS_SERVER" value="http://octo-server" />
        <add key="OCTOPUS_APIKEY" value="__REQUIRED__" />

        <add key="GOOGLE_MAPS_APIURL" value="https://maps.googleapis.com/maps/api/geocode/json" />
        <add key="GOOGLE_MAPS_APIKEY" value="__REQUIRED__" />
        
        <add key="WEATHER_LOCATION" value="Portland OR" />
    </appSettings>

    <log4net>
        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="ERROR" />
                <foreColor value="White" />
                <backColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <backColor value="Green" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="DEBUG" />
            <appender-ref ref="ColoredConsoleAppender" />
        </root>
    </log4net>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>